@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --cyan: hsl(180, 66%, 49%);
        --dark-violet: hsl(257, 27%, 26%);
        --grayish-violet: hsl(257, 8%, 63%);
        --very-dark-violet: hsl(260, 8%, 14%);
        --red: hsl(0, 87%, 67%);
        --gray: hsl(0, 0%, 75%);
        --very-dark-blue: hsl(255, 11%, 22%);
        --grayish-violet-light: hsl(225, 32%, 95%);
    }

    body {
        @apply font-poppins;
    }
}
